@keyframes rotatebox {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeinonload {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0vh);
  }
}
@keyframes fadeinonloadsheep {
  0% {
    transform: translateY(-100vh) rotate(0deg);
  }
  33% {
    transform: translateY(66vh) rotate(360deg);
  }
  66% {
    transform: translateY(33vh) rotate(0deg);
  }
  100% {
    transform: translateY(0vh) rotate(360deg);
  }
}
@keyframes fadeinonloadbox {
  0% {
    transform: translateY(-100vh);
  }
  50% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0vh);
  }
}
.hero-buttons {
  justify-content: flex-start;
  margin-top: 3rem;
  gap: 3rem;
}
.hero-buttons button {
  cursor: pointer;
  width: 8rem;
  height: 3rem;
  border-radius: 0.5rem;
}
.hero-buttons button:hover {
  background-color: rgb(218, 218, 218);
}
.hero-buttons button:active {
  scale: 0.9;
}
.hero-buttons button:nth-child(1) {
  animation: fadeinonloadbox 3.5s forwards ease;
}
.hero-buttons button:nth-child(2) {
  animation: fadeinonloadbox 4s forwards ease;
}
.hero-buttons button:nth-child(3) {
  animation: fadeinonloadbox 4.5s forwards ease;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.full-flex, html body main .grid, html body main .hero, html body main, html body header nav ul, html body header nav, html body header .logo, html body header, html body, .hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  width: 100%;
}
html body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #222;
  width: 100%;
  min-height: 100vh;
  padding: 0 3rem;
  background-color: rgb(195, 224, 152);
}
html body header {
  height: 5rem;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
}
html body header .logo {
  gap: 3rem;
}
html body header nav {
  width: 100%;
  max-width: 1200px;
  justify-content: space-between !important;
}
html body header nav ul {
  gap: 2rem;
}
html body header nav ul li {
  width: 5rem;
  list-style: none;
  font-weight: 400;
  transition: all 0.2s ease;
}
html body header nav ul li:hover {
  font-weight: 600;
}
html body main {
  width: 100%;
  flex-direction: column;
}
html body main .hero {
  padding: 5rem 2.5rem;
  text-align: left;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
  gap: 5rem;
}
html body main .hero h3 {
  animation: fadeinonload 4s forwards;
  font-size: 5rem;
  letter-spacing: -3px;
}
html body main .hero h5 {
  animation: fadeinonload 4s forwards;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: -0.5px;
}
html body main .hero img {
  animation: fadeinonloadsheep 4.5s forwards;
}
html body main .grid {
  width: 100%;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}
html body main .grid img {
  width: 3rem;
  animation: rotatebox 4s infinite;
}/*# sourceMappingURL=style.css.map */